body {
  margin: 0 auto;
  padding: 150px;
  width: 35%;
  background: #fbfbfa;
}
h1{
  color: #545454;
  font-size: 20px;
}
form{
  overflow: hidden;
}
input[type="text"]{
  color: #545454;
  height: 60px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input[type="password"]{
  color: #545454;
  height: 60px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input[type="submit"]{
  border: none;
  padding: 15px 30px;
  margin-bottom: 15px;
  background: #3d3938;
  color: white;
  float: right;
}
a{
  color: #545454;
  display: block;
}
a:hover{
  text-decoration: none;
}
.err_msg{
  color: #ff4d4b
}